services:
  start:
    image: asattelmaier/go-session-server:latest
    volumes:
      - type: bind
        source: ${PWD}/google-credentials.json
        target: /credentials.json
    ports:
      - "8080:8080"
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/credentials.json
      - FIRESTORE_EMULATOR_ENABLED=true
      - FIRESTORE_EMULATOR_HOST_PORT=firestore-emulator:9000
      - FIRESTORE_EMULATOR_PROJECT_ID=local-project
      - SECURITY_GUEST_PASSWORD=guest-password
      - SECURITY_JWT_ACCESS_TOKEN_EXPIRATION=86400000
      - SECURITY_JWT_REFRESH_TOKEN_EXPIRATION=604800000
      - SECURITY_JWT_SECRET_KEY=8Gr0MjVACbywAYACtN6o0wl4FKIG4s3F2iOGwMA1BQLKXh5ScLIuun0PgZnZ94vm
    links:
      - start-firestore-emulator:firestore-emulator
    depends_on:
      - start-firestore-emulator
    networks:
      - serve
  start-firestore-emulator:
    build: ./firestore-emulator
    volumes:
      - type: bind
        source: ${PWD}/google-credentials.json
        target: /opt/firestore-emulator/credentials.json
    ports:
      - "9000:9000"
      - "4500:4500"
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/opt/firestore-emulator/credentials.json
      - PORT=9000
      - PROJECT_ID=local-project
    networks:
      - serve
  gnugo:
    build: ./gnugo
    ports:
      - "8001:8001"
    networks:
      - serve
networks:
  serve:
